
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUCCESS DONATION</title>
    <style>
        .emoji {
        font-size: 48px;
        margin-bottom: 10px;
        }

        .payment-completed {
        border: 2px solid #1abc9c;
        }

        .thank-you {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="page payment-completed">
        <div class="emoji">🎉</div>
        <h1>Payment Completed!</h1>
       
        <p class="thank-you">🌟 Thank you for your DONATION! 🌟</p>
      </div>
</body>
</html>

